page-page1 {
  .nav-bar{
    background: url("../assets/images/header_gradient_bg.png") !important;
    background-size:cover !important;
    font-size: 50px !important;
    contain: none;
    transform: initial !important;
    -webkit-transform: initial !important;
    // background: url("http://www.ycycnow.com/header_gradient_bg.png");
  }

}
